[DESIGN]
min-public-methods=0
class-rgx=^(VIEW3D_|OBJECT_)?([A-Z]T_)?[A-Z][a-zA-Z0-9]*$

[MESSAGES CONTROL]
disable=
    missing-class-docstring,
    missing-function-docstring,
    relative-beyond-top-level,
    unused-argument